@import "ini/function";
@import "setting/setting_pak";
@include reset;
body{
  @include ff;
  @include fw;
  @include fs;
  @include dp;
  @include color;
  width:100%;
  .img__reset{
    font-size:0;
    line-height:0;
  }
}
img {
  width:100%;
  image-rendering: -webkit-optimize-contrast;
}
.sec__in__l{
  width:100%;
  max-width:px($max-width);
  min-width:0;
  margin:0 auto;
}
.sec__in__s{
  width:100%;
  max-width:px($min-width);
  min-width:0;
  margin:0 auto;
}
.cap__wrap{
  position:relative;
}
.cap__txt{
  position:absolute;
  right:0;
  bottom:0;
  background:$color-black;
  color:$color-white;
  padding:2px 5px;
}
@include sp{
  .sec__in__l{
    width:100%;
    max-width:100%;
  }
  .sec__in__s{
    width:100%;
    max-width:100%;
  }
}