@import "../ini/function";

@mixin keyframes{
	//keyframes
	@keyframes anime__light {
		0% {
			transform: scale(0) rotate(45deg);
			opacity: 0;
		}
		80% {
			transform: scale(0) rotate(45deg);
			opacity: 0.5;
		}
		81% {
			transform: scale(4) rotate(45deg);
			opacity: 1;
		}
		100% {
			transform: scale(50) rotate(45deg);
			opacity: 0;
		}
	}
	/*
	@keyframes anime__xxx__ptn01 {
	}
	*/
}
@mixin anime{
	.anime{
		&__light{
			position: relative;
			overflow: hidden;
			&:before{
				position: absolute;
				content: "";
				display: inline-block;
				top: -180px;
				left: 0;
				width: 30px;
				height: 100%;
				background-color: #fff;
				animation: anime__light 3s ease-in-out infinite;
			}
		}
		&__bottom-up{
			opacity:0;
			transition: transform .5s ease 0s,opacity .5s ease 0s;
			transform: translateY(100px);
			&.js--on{
				opacity:1;
				transform: translateY(0px);
			}
		}
		&__opacity{
			opacity:1;
			transition:opacity .5s ease 0s;
			&.js--on{
				opacity:0.5;
			}
		}
		&__underline{
			text-decoration: none;
			&.js--on{
				text-decoration: underline;
			}
		}
	}
}