@import "../ini/function";

/*
  .color__txt__xxx
  .color__bg__xxx
*/

$color-white:#fff;
$color-black:#000;
$color-gray1:#333;
$color-gray2:#666;
$color-gray3:#888;
$color-gray4:#adadad;
$color-gray5:#ccc;
$color-gray6:#ddd;
$color-gray7:#eee;
$color-gray8:#efefef;

$color-pri:#333;
$color-pri:#333;
$color-sec:#fff;
$color-ter:#fff;
$color-qua:#fff;
$color-qui:#fff;
$color-sen:#fff;
$color-sep:#fff;
$color-oct:#fff;
$color-non:#fff;
$color-den:#fff;

@mixin color{
  color:$color-gray1;
  background-color:$color-white;
  .color__txt{
    &__white{
      color:$color-white;
    }
    &__black{
      color:$color-black;
    }
    &__gray1{
      color:$color-gray1;
    }
    &__gray2{
      color:$color-gray2;
    }
    &__gray3{
      color:$color-gray3;
    }
    &__gray4{
      color:$color-gray4;
    }
    &__gray5{
      color:$color-gray5;
    }
    &__gray6{
      color:$color-gray6;
    }
    &__gray7{
      color:$color-gray7;
    }
    &__gray8{
      color:$color-gray8;
    }
    &__pri{
      color:$color-pri;
    }
    &__sec{
      color:$color-sec;
    }
    &__ter{
      color:$color-ter;
    }
    &__qua{
      color:$color-qua;
    }
    &__qui{
      color:$color-qui;
    }
    &__sen{
      color:$color-sen;
    }
    &__sep{
      color:$color-sep;
    }
    &__oct{
      color:$color-oct;
    }
    &__non{
      color:$color-non;
    }
    &__den{
      color:$color-den;
    }
  }
  .color__bg{
    &__white{
      background-color:$color-white;
    }
    &__black{
      background-color:$color-black;
    }
    &__gray1{
      background-color:$color-gray1;
    }
    &__gray2{
      background-color:$color-gray2;
    }
    &__gray3{
      background-color:$color-gray3;
    }
    &__gray4{
      background-color:$color-gray4;
    }
    &__gray5{
      background-color:$color-gray5;
    }
    &__gray6{
      background-color:$color-gray6;
    }
    &__gray7{
      background-color:$color-gray7;
    }
    &__gray8{
      background-color:$color-gray8;
    }
    &__pri{
      background-color:$color-pri;
    }
    &__sec{
      background-color:$color-sec;
    }
    &__ter{
      background-color:$color-ter;
    }
    &__qua{
      background-color:$color-qua;
    }
    &__qui{
      background-color:$color-qui;
    }
    &__sen{
      background-color:$color-sen;
    }
    &__sep{
      background-color:$color-sep;
    }
    &__oct{
      background-color:$color-oct;
    }
    &__non{
      background-color:$color-non;
    }
    &__den{
      background-color:$color-den;
    }
  }
}