@import "../ini/function";

/*
  .dp__xxx
  .dp__xxx__pc
  .dp__xxx__sp
*/

@mixin dp{
  .dp{
    &__block{
      display:block;
      &__pc{
        display:block;
      }
      &__sp{
        display:none;
      }
    }
    &__inline-block{
      display:inline-block;
      &__pc{
        display:inline-block;
      }
      &__sp{
        display:none;
      }
    }
    &__inline{
      display:inline;
      &__pc{
        display:inline;
      }
      &__sp{
        display:none;
      }
    }
    &__flex{
      display:flex;
      &__pc{
        display:flex;
      }
      &__sp{
        display:none;
      }
    }
    &__grid{
      display:grid;
      &__pc{
        display:grid;
      }
      &__sp{
        display:none;
      }
    }
    @include sp{
      &__block{
        &__pc{
          display:none;
        }
        &__sp{
          display:block;
        }
      }
      &__inline-block{
        &__pc{
          display:none;
        }
        &__sp{
          display:inline-block;
        }
      }
      &__inline{
        &__pc{
          display:none;
        }
        &__sp{
          display:inline;
        }
      }
      &__flex{
        &__pc{
          display:none;
        }
        &__sp{
          display:flex;
        }
      }
      &__grid{
        &__pc{
          display:none;
        }
        &__sp{
          display:grid;
        }
      }
    }
  }
}