@import "../ini/function";

/*
  .fs__txt__xxx
  .fs__txt__en__xxx
  .fw__xxx
*/

$font-sans:"Noto Sans JP";//400,600
$font-serif:"Noto Serif JP";//400,600

@mixin ff{//font-family
  .ff{
    &__sans{
      font-family:$font-sans;
    }
    &__serif{
      font-family:$font-serif;
    }
  }
}

@mixin fw{//font-weight
  font-weight:normal;
  .fw__bold{
    font-weight:bold;
  }
  .fw__normal{
    font-weight:normal;
  }
}
@mixin fs{//font-size
  font-size:1.6rem;
  line-height:1.875;
  letter-spacing:0.04em;
  .fs__txt{
    &__80{
      font-size:8.0rem;
      line-height:1;
      letter-spacing:0.1em;
    }
    &__60{
      font-size:6.0rem;
      line-height:1;
      letter-spacing:0.1em;
    }
    &__50{
      font-size:5.0rem;
      line-height:1;
      letter-spacing:0.1em;
    }
    &__46{
      font-size:4.6rem;
      line-height:1.5;
      letter-spacing:0.1em;
    }
    &__40{
      font-size:4.0rem;
      line-height:1.5;
      letter-spacing:0.1em;
    }
    &__34{
      font-size:3.4rem;
      line-height:1.5;
      letter-spacing:0.1em;
    }
    &__30{
      font-size:3.0rem;
      line-height:1.5;
      letter-spacing:0.1em;
    }
    &__28{
      font-size:2.8rem;
      line-height:1.3846153846153846;
      letter-spacing:0.1em;
    }
    &__26{
      font-size:2.6rem;
      line-height:1.3846153846153846;
      letter-spacing:0.1em;
    }
    &__24{
      font-size:2.4rem;
      line-height:1.3846153846153846;
      letter-spacing:0.1em;
    }
    &__22{
      font-size:2.2rem;
      line-height:1.3846153846153846;
      letter-spacing:0.1em;
    }
    &__20{
      font-size:2.0rem;
      line-height:1.6666666666666667;
      letter-spacing:0.04em;
    }
    &__18{
      font-size:1.8rem;
      line-height:1.6666666666666667;
      letter-spacing:0.04em;
    }
    &__16{
      font-size:1.6rem;
      line-height:1.875;
      letter-spacing:0.04em;
    }
    &__14{
      font-size:1.4rem;
      line-height:1.4285714285714286;
      letter-spacing:0.09em;
    }
    &__13{
      font-size:1.3rem;
      line-height:1.3333333333333333;;
      letter-spacing:0.09em;
    }
    &__12{
      font-size:1.2rem;
      line-height:1.3333333333333333;;
      letter-spacing:0.09em;
    }
    &__11{
      font-size:1.1rem;
      line-height:1.3333333333333333;;
      letter-spacing:0.09em;
    }
    &__10{
      font-size:1.0rem;
      line-height:1.3333333333333333;;
      letter-spacing:0.09em;
    }
    @include sp{
      font-size:1.4rem;
      line-height:1.4285714285714286;
      letter-spacing:0.09em;
      &__80{
        font-size:6.0rem;
        line-height:1;
        letter-spacing:0.1em;
      }
      &__60{
        font-size:4.0rem;
        line-height:1.5;
        letter-spacing:0.1em;
      }
      &__50,
      &__46{
        font-size:3.6rem;
        line-height:1.5;
        letter-spacing:0.1em;
      }
      &__40{
        font-size:3.0rem;
        line-height:1.5;
        letter-spacing:0.1em;
      }
      &__34,
      &__30{
        font-size:2.6rem;
        line-height:1.3846153846153846;
        letter-spacing:0.1em;
      }
      &__28,
      &__26{
        font-size:2.4rem;
        line-height:1.3846153846153846;
        letter-spacing:0.1em;
      }
      &__24,
      &__22,
      &__20{
        font-size:1.8rem;
        line-height:1.6666666666666667;
        letter-spacing:0.09em;
      }
      &__18{
        font-size:1.6rem;
        line-height:1.875;
        letter-spacing:0.04em;
      }
      &__16{
        font-size:1.4rem;
        line-height:1.8666666666666667;
        letter-spacing:0.04em;
      }
    }
  }
}